# Ignore Python virtual environments
.venv/
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore output files
*.json

# IDE / Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
